
#cart h1.page-title {margin:5px 0 20px 0; padding-bottom:20px; font-weight:normal; font-size:36px; border-bottom: 1px solid #eee;}

.cart-table {margin-bottom:30px;}
.cart-table__header {min-height:36px; border-bottom:2px solid #DDD; margin-bottom:20px !important;}
.cart-table__header .column {font-size:14px; font-weight:bold;}
.row .row.cart-table__row {margin-bottom:20px;}
.cart-table__row > .column {min-height:50px;}
.cart-table__row .desc {padding:0;}
/*.cart-table__row .desc .column {padding:0;}*/
.cart-table__row .cart-remove-item {color: #428bca; text-decoration: none; margin: 0 12px; font-size: 0.9rem;}
.cart-table__row .small-total-label {margin-top:10px; font-weight:bold;}
.cart-table__row .price, .cart-table__row .total {font-size:1.2rem;}
.cart-options a, .cart-options button {margin-bottom: 0; color:#333; background: #fff; border:1px solid #ccc; font-size: 0.9rem; border-radius:4px; padding: 0.5rem 2rem 0.5rem 2rem; text-transform: none;}
.cart-options a:hover {color:#000; background:#FFF; border-color:#333;}
.cart-options button#cart-clear-button:hover {color:#FFF; background-color:#b53d3d; border-color:#b53d3d;}

#cart .empty-message {font-weight:bold; font-size:20px;}

#cart-row-template {display:none;}

.cart-table .cart-item-img {display:block; margin:0 10px; padding:4px; background-color: #fff; border: 1px solid #ddd; border-radius: 4px;}
.cart-table .cart-item-img img {width:100%;}

.cart-table .cart-item-link {display:block; color:#333;}
.cart-table .cart-item-remove {padding-left:12px; color:#000; font-size:12px;}

#cart .cart-subtotal {font-size: 25px; font-weight: bold; text-transform: uppercase; color: #000; padding-bottom: 20px;}
#cart .shipping-cost {}
#calculate-shipping {margin-top:5px; font-size:14px;}
#cart .order-total {margin: 20px 0; padding: 10px 0 0; line-height: 25px; font-size: 14px; border-top: 1px solid #dddfde;}
#cart .cart-price-line {float:right;text-align:right;font-weight:bold;}
#cart .cart-price-line--total {}

#cart-checkout-button {display:block; padding:12px; background: #428bca; border-color: #357ebd; border-radius:4px;}
#cart-checkout-button:hover {color: #fff; background: #3071a9; border-color: #285e8e;}

/* callout missing from foundation */
.callout {
    margin: 0 0 1rem 0;
    padding: 1rem;
    border: 1px solid rgba(10, 10, 10, 0.25);
    border-radius: 0;
    position: relative;
    color: #0a0a0a;
    background-color: white;
}
.callout.custom {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
/***********************************/

/* cart quantity updater */
.cart-func input {
	display:block;
	height: 38px;
}
.cart-func .cart-qty {
	display:inline-block;
	margin:0;
	vertical-align:bottom;
	overflow:hidden;
}
.cart-func .cart-qty input {
	float:left;
	width:50px;
	margin:0;
}
.cart-qty-controller {
	float:left;
	height:38px;
	margin:0;
}
.cart-qty-controller .cart-inc-qty, .cart-qty-controller .cart-dec-qty {
	display:block;
	width:19px;
	height:19px;
	background-color:#e4e1e1;
	background-image:url('../images/qty-arrows.png');
	background-repeat:no-repeat;
}
.cart-qty-controller .cart-inc-qty {background-position:0 center; border-bottom: 1px solid #cecdcd;}
.cart-qty-controller .cart-dec-qty {background-position:-19px center; border-top: 1px solid #cecdcd;}
.cart-qty-controller .cart-inc-qty:hover,
.cart-qty-controller .cart-dec-qty:hover {background-color:#aaa; border-color:#aaa;}
.cart-qty-refresh {display:none;}
.cart-func input.americart-add {
	display:block;
	width:100%;
	padding:5px 15px;
	margin:1rem 0 0 0;
	border:0;
	outline:0;
	background-color:#105ea8; /*#499aff*/
	color:#FFF;
    transition: background-color 300ms ease-out;
}

.customcart-notice {
    padding: 2px 10px 2px 20px;
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
	margin-bottom: 1em;
}
.customcart-notice.info {
    background: #e4eff9;
    border: 1px solid #bfdef9;
}
.customcart-notice.error {
    background: #ffeeee;
    border: 1px solid #eab9b9;
}
.customcart-notice.warn {
    background: #fcffaf;
    border: 1px solid #eadd9e;
}

/* Pick List Form */
#order-request-form .fieldgroup {
	overflow:hidden;
}
#order-request-form .required-text {
    margin-bottom: 10px;
    color: #d01919;
}
#order-request-form .field.fieldgroup {
    padding: 5px 5px 10px 5px;
	margin-bottom:10px;
}
#order-request-form .field.fieldgroup > label {
	font-weight:bold;
	margin-left:-5px;
}

#order-request-form #City,
#order-request-form #State {
	float:left;
	width:50%;
}
#order-request-form #Zipcode,
#order-request-form #Country {
	float:left;
	width:50%;
}

@media only screen and (min-width: 40.0625em) {
	
	#order-request-form #FirstName,
	#order-request-form #LastName,
	#order-request-form #Address1,
	#order-request-form #Address2 {
		float:left;
		width:50%;
	}
	#order-request-form #City {
		width:40%;
	}
	#order-request-form #State,
	#order-request-form #Zipcode,
	#order-request-form #Country {
		width:20%;
	}
}

#order-request-form .Actions {
	padding:0 5px;
}
#order-request-form .Actions input {
    display: block;
    float: none;
    width: 100%;
}
@media only screen and (min-width: 32.0625em) {
	#order-request-form .Actions {
		padding:0 10px;
	}
	#order-request-form .Actions input {
		display: inline-block;
		width:auto;
	}
}
#order-request-form .cart-contact-contents {
	padding:10px;
	background:#f0f0f0;
}
#order-request-form .cart-contact-contents h4 {
	margin-top:0.5rem;
	margin-bottom:0.3rem;
}
#order-request-form .cart-contact-contents h3 {
	margin-bottom:0;
	margin-top:1.0rem;
}
#order-request-form .cart-contents__line-item {
	margin-bottom:0.2rem;
	font-size:0.8rem;
}
/******************/

















