/* Mobile Accordion Menu */

#mobile-menu {
	display: none;
}
#mobile-accordion .menuacc,
.mainmenu {
	width: 100%;
}
#mobile-accordion ul.menuacc li,
.mainmenu ul,
.mainmenu ul ul {
	list-style-type: none;
	list-style-position: outside;
}
#menu-vert ul.topnav li,
.mainmenu ul,
.mainmenu ul ul {
	list-style-position: outside;
}
#mobile-accordion {
	display: block;
	clear: both;
}
#mobile-accordion ul.menuacc {
	padding: 0;
	margin: 0;
	font-size: 15px;
	list-style: none;
}
#mobile-accordion ul.menuacc li {
	margin: 0;
	padding: 0;
	display: block;
	position: relative;
	vertical-align: middle;
}
#mobile-accordion ul.menuacc li a {
	
	font-size: 18px;
	font-weight:900;
	padding:10px;
	line-height:25px;
	display: block;
	text-decoration: none;
}
#mobile-accordion ul.menuacc ul {
	margin: 0;
	padding: 0;
	display: none;
}
#mobile-accordion ul.menuacc ul li {
	margin: 0;
	padding: 0;
	clear: both;
}
#mobile-accordion ul.menuacc ul li a {
	background: #e8e8e8;
	
}
#mobile-accordion ul.menuacc ul ul li a {
	background: #d7d7d7;
	
	position: relative;
}
#mobile-accordion ul.menuacc ul ul ul li a {
	background: #b9b9b9;
	
	position: relative;
}
#mobile-accordion ul.menuacc span {
	float: right;
}
.mobile-arrow-down {
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	display: inline-block;
	margin: 4px 0 0 0;
	vertical-align: middle;
}

/* Regular dropdown menu */

.mainmenu {
	text-align: center;
}
.mainmenu ul {
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 200;
}
.mainmenu ul a {
	display: block;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 50px;
	padding: 0 1rem;
}
.mainmenu ul li ul a {
	width: 275px;
	margin: 0;
	line-height: 22px;
	font-size: 1rem;
	border: 0!important;
	text-transform: none;
}
.mainmenu ul a:hover {
	
}
.mainmenu ul li {
	display: inline-block;
	zoom: 1;
	position: relative;
	text-align: left;
}
.mainmenu ul ul {
	position: absolute;
	display: none;
	width: 275px;
	top: 50px;
	left: 0;
	margin: 0;
	padding: 0;
	background: #fff;
}
.mainmenu ul li ul a {
	padding: 8px 5px;
	
}
.mainmenu ul ul a:hover {
	background-color: transparent;
	
	text-indent: 4px;
}
.mainmenu ul ul ul {
	top: auto;
}
.mainmenu ul li ul ul {
	left: 275px;
	top: 0;
}
.mainmenu ul li:hover ul ul,
.mainmenu ul li:hover ul ul ul,
.mainmenu ul li:hover ul ul ul ul {
	display: none;
}
.mainmenu ul li li li li:hover ul,
.mainmenu ul li li li:hover ul,
.mainmenu ul li li:hover ul,
.mainmenu ul li:hover ul {
	display: block;
}
#MobileMastHead {
	background: #fff;
	position: relative;
	z-index: 200;
	padding: 15px 0;
}
#MobileMastHead li.menu-border-right {
	border-right: 1px #fff dotted;
}
#MobileMastHead li.menu-border-left {
	border-left: 1px #fff dotted;
}
#MobileLocales{
	padding:10px;
}
.tabs-container {
	width: 100%;
	margin: 0 auto;
}
ul.tabs-mobile {
	margin: 0;
	padding: 0;
	list-style: none;
}
ul.tabs-mobile li span.mobile-pin, ul.tabs-mobile li span.mobile-pin i{
	font-size: 32px;
	
}
ul.tabs-mobile li {
	cursor: pointer;
}
ul.tabs-mobile li span {
	vertical-align:middle;
}
ul.tabs-mobile li a.mobile-locale {
	display:block;
	background:#fff;
	border:1px #d2d2d2 solid;
	padding:12px 0;
	margin:0;
	font-size:18px;
	font-weight:600;
	
	text-align: center;	
	text-decoration: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
}
ul.tabs-mobile li a.mobile-locale i.fas{
	vertical-align:top;
}
.MobileLocales__locale__hours {
	padding:5px;
}
.MobileLocales__locale__day-hours--override span {
	font-size:12px;
	text-decoration: line-through;
}
.MobileLocales__locale__day-hours--extra {
	padding-left:18px;
}
ul.tabs-mobile li a {
	
	text-decoration: none;
}
ul.tabs-mobile li a:hover {
	
}
.tabsmobile-content {
	display: none;
	position: relative;
	width: 100%!important;
	
	padding: 10px;
}
.tabsmobile-content.current {
	display: block;
	
	position:absolute;
	left:0;
	right:0;
	z-index:4000;
	background:#fff;	
}
.tabsmobile-content a.tabs-dir i,
.tabsmobile-content a.tabs-ph i{
	font-size: 20px;
	display:inline-block;
}
.tabsmobile-content a.tabs-dir,
.tabsmobile-content a.tabs-ph {
	display: inherit!important;
	font-size: 14px;
	display:block !important;
	text-align:left;
}
.tabsmobile-content h3,
.tabsmobile-content p {
	
}
.tabsmobile-content a {
	
	font-size: 12px;
}
.tabsmobile-content a.tabs-ph {
	text-decoration: none!important;
	margin: 0 0 10px;
	
}
.tabsmobile-content a.tabs-ph:hover {
	text-decoration: underline;
}

/* Sidebar Menu */

.secondary {
	margin: 0 0 10px 0;
}
.secondary ul.sidebaracc {} .secondary ul.sidebaracc {
	padding: 0;
	margin: 0;
	font-size: 15px;
	list-style: none;
}
.secondary ul.sidebaracc li {
	list-style-type: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
}
.secondary ul.sidebaracc li a {
	background: #f7f7f7;
	font-size: 14px;
	padding: 10px 5px;
	
	display: block;
	text-decoration: none;
	line-height: 1rem;
}
.secondary ul.sidebaracc li a:hover {
	background: #eee;
}
.secondary ul.sidebaracc ul {
	margin: 0;
	padding: 0;
	display: none;
}
.secondary ul.sidebaracc ul li {
	margin: 0;
	padding: 0;
	clear: both;
}
.secondary ul.sidebaracc ul li a {
	padding: 10px 5px 10px 8px;
	font-size: 14px;
	font-weight: normal;
	outline: 0;
	line-height: 1rem;
	background: #fff;
}
.secondary ul.sidebaracc ul li a:hover {
	background: #f7f7f7;
}
.secondary ul.sidebaracc ul ul li a {
	padding: 10px 5px 10px 12px;
	font-size: 14px;
	font-weight: normal;
	outline: 0;
	line-height: 1rem;
	background: #4f4f4f;
}
.secondary ul.sidebaracc ul ul li a:hover {
	background: #67a75e;
}
.secondary ul.sidebaracc ul ul ul li a {
	padding: 10px 5px 10px 15px;
	font-size: 14px;
	font-weight: normal;
	outline: 0;
	line-height: 1rem;
	background: #eeede7;
}
.secondary ul.sidebaracc ul ul ul li a:hover {
	background: #606060;
}
.secondary ul.sidebaracc span {
	float: right;
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

#MobileMastHead .tabs-mobile li.tab-link button.hamburger, #MobileMastHead .tabs-mobile li.tab-link button.hamburger:hover,
#MobileMastHead .tabs-mobile li.tab-link button.hamburger:active, #MobileMastHead .tabs-mobile li.tab-link button.hamburger:visited,
#MobileMastHead .tabs-mobile li.tab-link button.hamburger:focus{
	background:transparent;
	border:0;
	outline:0;
	padding:0px;
}
.hamburger {
	padding: 15px 15px;
	display: inline-block;
	cursor: pointer;
	transition-property: opacity, filter;
	transition-duration: 0.15s;
	transition-timing-function: linear;
	font: inherit;
	color: inherit;
	text-transform: none;
	background-color: transparent;
	border: 0;
	margin: 0;
	overflow: visible;
}
.hamburger:hover {
	opacity: 0.7;
}
.hamburger.is-active:hover {
	opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: #000;
}
.hamburger-box {
	width: 40px;
	height: 24px;
	display: inline-block;
	position: relative;
}
.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	width: 40px;
	height: 4px;
	background-color: #000;
	border-radius: 4px;
	position: absolute;
	transition-property: transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
	content: "";
	display: block;
}
.hamburger-inner::before {
	top: -10px;
}
.hamburger-inner::after {
	bottom: -10px;
}
/*
   * 3DX
   */

.hamburger--3dx .hamburger-box {
	perspective: 80px;
}
.hamburger--3dx .hamburger-inner {
	transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger-inner::before,
.hamburger--3dx .hamburger-inner::after {
	transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx.is-active .hamburger-inner {
	background-color: transparent !important;
	transform: rotateY(180deg);
}
.hamburger--3dx.is-active .hamburger-inner::before {
	transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner::after {
	transform: translate3d(0, -10px, 0) rotate(-45deg);
}

/* Media Queries */

@media only screen and (max-width: 1280px) {
	.mainmenu ul a {
		font-size: 14px;
		font-weight: normal;
		padding: 0 10px;
	}
}
